* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    inset: 0;
  }
  /* the star above is for the browser and applies each thing to each element individually and makes
  sure the browser doesn't add any inset, etc by default. */
  
  body {
    background-color: #545454;
    font-family: "Poppins", sans-serif;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .top-bar {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 3.1rem;
    width: 100%;
  }
  
  .sign-up-log-in-btns {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    /* this will align all the items in the center of the buttons div */
    background-color: transparent;
    font-family: "Poppins", sans-serif;
  }
  
  .sign-up-btn {
    /* border: none; */
    /* boder: none gets rid of the border and u can use an anchor tag/element instead of the btn tag/element */
    margin-left: 0.5rem;
    width: 4rem;
    height: 2.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: #4f2981;
  }
  
  .log-in-btn {
    width: 4rem;
    height: 2.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: #4f2981;
  }
  
  .volunteer_org-text {
    display: flex;
    justify-content: center;
    color: rgba(168, 181, 197, 0.918);
    font-size: 400%;
  }
  
  .volunteer_org-description {
    display: flex;
    justify-content: center;
    color: rgba(246, 246, 246, 0.918);
    font-size: 120%;
  }
  
  .logo {
    width: 3rem;
    height: 3rem;
  }
  
  /* set the default styling for content - which is a big div that has all the features in it */
  /* enable flex box, set direction to column, content justified to center, align items in it in center */
  .features-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*justify content - align on main axis -> this code says center on main axis  */
    align-items: center;
    /*align items - align on cross axis -> this code says center on cross axis  */
  }
  
  /* Select all the div containers in the content div. */
  .features-content div {
    margin-top: 10em;
    display: flex;
    align-items: center;
  }
  
  /* Find volunteer feature information */
  .find-volunteer {
    display: flex;
  }
  
  .find-volunteer-h1 {
    margin-left: 3rem;
    color: rgba(168, 181, 197, 0.918);
  }
  
  /* Earn hours feature information */
  .earn-hours {
    display: flex;
  }
  
  .earn-hours-h1 {
    color: rgba(168, 181, 197, 0.918);
  }
  
  /* Message others feature information */
  .message-others {
    display: flex;
  }
  
  .message-others-h1 {
    margin-left: 3rem;
    color: rgba(168, 181, 197, 0.918);
  }
  
  /* Sign up today feature information */
  .sign-up-today {
    /* margin-top: 20rem; */
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-today-h1 {
    color: rgba(168, 181, 197, 0.918);
  }
  
  .sign-up-today-btn {
    margin-top: 1rem;
    width: 7rem;
    height: 2.5rem;
    background-color: #4d4bd0;
    border-color: whitesmoke;
    color: whitesmoke;
    font-size: 1rem;
  }
  
  /* Footer Content */
  .footer {
    display: flex;
    margin-top: 20rem;
  }
  
  .test {
    display: flex;
    flex-direction: row;
    height: 3.1rem;
    width: 100%;
    background-color: blue;
  }